
#Homepage{
  color: white;
}
body, html {
  height: 100%; 
  background-color: #f1f1f1; 
}
.hero-image {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("factorybk.png");
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.engineer{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("engineer.jpg");
  height: 40%;
  width:auto; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

