@{
  Layout = "_Layout";
}

@model Factory.Models.Machine; 
<div class="jumbotron">
  <h3 class="display-4">Machine Details For: @Html.DisplayFor(model => model.Name) </h3>
</div>


@if(@Model.Engineers.Count ==0)
{ 
  <h3>This machine has no certified engineers.</h3>
}
else
{
  <h4>Engineers the Machine belongs to:</h4>
  @foreach(var join in Model.Engineers)
  {
    <p>@join.Engineer.Name @using (Html.BeginForm("DeleteEngineer", "Machines")){@Html.Hidden("joinId", @join.MachineEngineerId)<input type="submit" value="Delete"/>}</p>
  }

}

<button class ="btn btn-secondary">@Html.ActionLink("Add Engineer To Machine", "AddEngineer", new { id = Model.MachineId })</button>


