@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models; 

<div class = "jumbotron"> 
  <h2 class="display-4"> Add Machine To: @Html.DisplayFor(model => model.Name) </h2> 
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}
