@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models; 

<h2>Add a Machine</h2>

<h4>Add an Machine to This Engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}
