@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer; 

<div class="jumbotron">
  <h3 class="display-4">Engineer Details For: @Html.DisplayFor(model => model.Name) </h3>
</div>
<br> 

@if(@Model.Machines.Count ==0)
{ 
  <h3>This Engineer Has No Machines They are Licensed To Repair.</h3>
}
else
  {
  <legend>Machines this Engineer is Licensed to Run:</legend>
  @foreach(var join in Model.Machines)
  {
  <p>@join.Machine.Name  | @Html.ActionLink("Edit Engineer", "Edit", new {id=Model.EngineerId}) |</p>
  } 
}
<br> 
<button class = "btn btn-secondary">@Html.ActionLink("Add A Machine To The Database", "create", "machine")</button>



