@{
    Layout = "_Layout";
}

<body>

<div class="container hero-image"></div>
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-4 engineer">
        
    </div>
    <div class="col-lg-2">

    </div>
        
    <div class="col-lg-44">
        
    </div>
</div>
</body>